.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500px;
}
.play button{
    height: 100px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
.play:hover{
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: bolder;
}
.task{
    height: 600px;
    width: 800px;
    background-color: #2c2b2b;
}
.task h1{
    font-size: 70px;
    color: #efecea;
}
.task p{
    margin-top: 80px;
    font-size: 50px;
    color: #efecea;
}
.btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn button{
    height: 100px;
    width: 120px;
    font-size: 24px;
    background-color: #0d9ddb;
    border: none;
    border-radius: 10px;
    color: #efecea;
}
.btn :hover{
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: bolder;
}
.timer {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff5722;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.btn2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.btn2 button{
    height: 100px;
    width: 120px;
    font-size: 24px;
    background-color: #0d9ddb;
    border: none;
    border-radius: 10px;
    color: #efecea;
}
.btn2 :hover{
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: bolder;
}
.ScoreDiv{
    display: flex;
    flex-direction: column;
}
.ScoreDiv p {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff5722;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.ScoreDiv1{
    display: flex;
    flex-direction: column;
}
.ScoreDiv1 p {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff5722;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.ScoreDiv2{
    display: flex;
    flex-direction: column;
}
.ScoreDiv2 p {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff5722;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}